<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">

    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        <span class="glyphicon glyphicon glyphicon-link"></span>
        <!-- EJS Is Fun -->
      </a>
    </div>

    <ul class="nav navbar-nav">
    <li><a href="/">My Links</a></li>
    </ul>
    <% if(userID) { %>
    <p>Welcome <%= email.email %>        <form action="/logout" method="POST">
      <button type="update" value="user" class="btn btn-info" style="position: absolute; right: 0; vertical-align: middle; margin-right: 5px;">Logout</button>
    </form> </p>
    <p><p style="margin-top: 11px;">
      <a href = "/urls/new"> Create a New Link </a>
    </p>
    <% } else { %>
    <a href="/register">Register</a><br>
    <a href="/login">Login</a>
    <% } %>
  </div>
</nav>

<header>
  <h2>TinyURL</h2>
</header>
