<!DOCTYPE html>
<html lang="en">
<head>
<title>TinyApp</title>
<style>
  th, td {
    text-align: left;
    padding: 5px;
    border: 1px solid #aaa;
  }
  table {
    border: 1px solid black;
    border-collapse: collapse;
  }
</style>
</head>
