<header>
  <h2>TinyApp</h2>
</header>
<% if(userID) { %>
  <p>Welcome <%= userID %>.</p>
  <form action="/logout" method="POST">
    <button type="update" value="user">Logout</button>
  </form>
  <% } else { %>
    <a href="/register">Register</a><br>
    <a href="/login">Login</a>
    <% } %>