<!DOCTYPE html>
<html lang="en">
<head>
<title>TinyApp</title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<style>
  body {
    padding:; 20px;
  }
  th, td {
    text-align: left;
    padding: 5px;
    border: 1px solid #aaa;
  }
  table {
    border: 1px solid black;
    border-collapse: collapse;
  }
</style>
</head>
