<% include partials/_head %>
<body style="font-size:20px; padding:50px;">
<body>
  <% include partials/_header %>
  <table>
    <tr>
      <th>
        Short Link
      </th>
      <th>
        Original Link
      </th>
      <th>
        Action
      </th>
    </tr>
    <tr>
      <td>
        <a href="/u/<%= shortURL %>">http://tiny.app/u/<%= shortURL %></a>:
      </td>
      <td>
        <%= longURL %>
      </td>
      <td>
        <form action="/urls/<%= shortURL %>" method="POST">
          <input type="text" name="updatelink">
          <button type="update" value="update">Update</button>
        </form>
      </td>
    </tr>
  </table>
  <% include partials/footer %>