<% include partials/_head %>
<body style="font-size:20px; padding:50px;">
<body>
  <header>
    <h2>TinyApp</h2>
  </header>
  <a href="/login">Login</a><br>
  <form action="/register" method="POST">
    <input type="email" name="email" placeholder="Email">
    <input type="password" name="password" placeholder="password">
    <button type="update">Sign Up</button>
  </form>
  <% include partials/footer %>