<% include partials/_head %>
<header>
  <h2>TinyApp</h2>
</header>
<body>
  <a href="/login">Login</a><br>
  <form action="/register" method="POST">
    <input type="email" name="email" placeholder="Email">
    <input type="password" name="password" placeholder="password">
    <button type="update" value="email">Register</button>
  </form>
</body>
</html>