<% include partials/_head %>
<header>
  <h2>TinyApp</h2>
</header>
<body style="font-size:20px; padding:50px;">
<body>
  <a href="/register">Sign Up</a><br>
  <p>Please Login</p><br>
  <form action="/login" method="POST">
    <input type="email" name="email" placeholder="Email">
    <input type="password" name="password" placeholder="Password">
    <button type="update" value="email">Login</button>
  </form>
  <% include partials/footer %>